{% extends 'catalog/base.html' %}
{% block content %}
<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
    <h1 class="display-4">{{ object.article_name }}</h1>
</div>
<div class="container">
    <div class="row text-center">
        <div class="col-12">
            <div class="card mb-4 box-shadow text-bg-dark">
                <div class="card-header">
                    ...
                </div>
                <div class="card-body">
                    <h6 class="card-title card-title">{{ object.title }}</h6>
                    <ul class="list-unstyled mt-3 mb-4 text-start m-3">
                        <li>Дата создания: {{ object.date_of_creation }}</li>
                        <li>Дата публикации: {{ object.content }}</li>
                        <li>Просмотры: {{ object.views }}</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}